.contact__block {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 0rem;

    img {
        width: 68rem;
    }
}

.form__label {
    width: 10rem;
}

@media (max-width: 1080px) {
    .contact__block img {
        width: 50rem;
    }
}

@media (max-width: 768px) {
    .contact__block img {
        width: 40rem;
    }
}

@media (max-width: 480px) {
    .contact__block img {
        width: 20rem;
    }
}
